.forgotContainer {
    margin-top: 10%;
    font-family: MontserratSB;
    color: white;
}

.forgotHeaderRow {
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 5%;
}

.forgotInputRow {
    justify-content: center;
    margin-bottom: 5%;
}
.forgotEmailInput {
    width: 50%;
}

.forgotFooterRow {
    justify-content: center;
    margin-bottom: 5%;
}

.forgotFooterRow2 {
    justify-content: center;
    margin-bottom: 2%;
}

.loginReturn {
    cursor: pointer;
}

.forgotButtonStyle {
    cursor: pointer;
    margin: 1%;
    width: 30%;
    height: 30%;
    align-self: center;
    background-color: #0F4C75;    
    border-radius: 8%;
    color: #fff;
    font-size: 18px;
}

.forgotErrorText {
    color: red;
}

