.homeTitle {
    color: white;
    font-size: xx-large;
}

.homeContainer {
    /* margin-top: 1%; */
}
.homePostHeaderRow {
    /* border: 2px solid red; */
    margin-top: 2%;
    color: white;
}
.homeUserNameCol{
    /* border: 2px solid green; */
    display: flex;
    justify-content: right;
    align-items: center;
}
.homePostNameCol{
    font-size: xx-large;
    align-items: center;
}

.homePostContentRow {
    /* border: 2px solid blue; */
    /* overflow: hidden; */
    height: 350px;
}

.homeImgCol {
    /* border: 2px solid green; */
    max-width: fit-content;
    color: white;
}

.homeInfoCol {
    /* border: 2px solid red; */
    max-width: 100%;
    word-wrap:break-word;
    overflow-y: auto;
    color: white;
    white-space: pre-wrap;
}

.hIngTab {
    height: 300px;
    overflow-y: auto;
}

.hDirTab {
    height: 300px;
    overflow-y: auto;
}

.homeLikesCol {
    /* border: 2px solid red; */
    
}
.homeLikesRow {
    color: white;
    font-size: xx-large;
    justify-content: center;
}
.hLikeIcon {
    margin-left: 10%;
    cursor: pointer;
}

.homeInfotext {
    max-height: 100%;
    width: inherit;
    margin-bottom: 1%;
}

.posterName {
    cursor: pointer;
}

.homePostImg {
    /* min-width: 100%; */
}